<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="assets/css/reset.css">
		<link rel="stylesheet" type="text/css" href="../public/assets/css/style.css"/>
		<link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
	</head>
	<header>
		<img src="../public/assets/images/flower.jpg" class="flower">
		<h1 class="logo"> Dear, nerdGirl</h1>
		<div class="navbar">
			<P>
				<a href=".html">Login</a> |
				<a href="forum.html">Diaries</a> | 
				<a href="contact.html">Contact</a>
			</P>
		</div>
	</header>
	<body>
		<div class="formContainer">
			<form>Name<br>
  			<input type="text" name="name" class="formInput"><br><br>
  			<form>Email<br>
  			<input type="text" name="email" class="formInput"><br><br>
  			<form>Comments/Questions<br>
				<textarea name='comment' class='comment'></textarea><br>
		</div>
	</body>
	<footer>
		<p>&copy; Dear, Nerd Girl 2017</p>
	</footer>
	<script src="app.js"></script>
</html>
