<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="assets/css/reset.css">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css"/>
		<link href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister|VT323" rel="stylesheet">
	</head>
	<header>
		<a href="index.html">
			<h1>Dear, Nerd Girl</h1>
		</a>
		<img src=""/>
		<div>
			<a href="forum.html">Diaries</a>
			<a href="contact.html">Contact</a>
		</div>
	</header>
	<body>
		<div class="mainContainer">
			<div class="contentContainer" id="statement">
				<h2>Mission Statement</h2>
				<p></p>
			</div>
			<div class="contentContainer" id="postContainer">
				<div class="postBox"></div>
				<div class="postBox"></div>
				<div class="postBox"></div>
			</div>
			<div>

			</div>
		</div>
	</body>
	<footer>
		<p>&copy; Dear, Nerd Girl 2017</p>
	</footer>
	<script src="app.js"></script>
</html>

<!-- font-family: 'VT323', monospace;
font-family: 'Love Ya Like A Sister', cursive; -->
<!-- #474973 purple / #17BEBB Turquiose /  -->