<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="assets/css/reset.css">
		<link rel="stylesheet" type="text/css" href="../public/assets/css/style.css"/>
		<!-- <link href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister|VT323" rel="stylesheet"> -->
		<link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
	</head>
	<header>
			<h1 class="logo">Dear, Nerd<img src="../public/assets/images/heart.png" class="heart">Girl</h1>
		<img src=""/>
		<div class="navbar">
			<P>
				<a href="contribute.html">Contribute</a> |
				<a href="forum.html">Diaries</a> | 
				<a href="contact.html">Contact</a>
			</P>
		</div>
	</header>
	<body>
		<div class="mainContainer">
			<div class="statement">
				<h2>Mission Statement</h2>
				<hr>
				<p></p>
			</div>
			<div class="contentContainer" id="postContainer">
				<div class="postBox" id="left"></div>
				<div class="postBox" id="center"></div>
				<div class="postBox" id="right"></div>
			</div>
			<div>

			</div>
		</div>
	</body>
	<footer>
		<p>&copy; Dear, Nerd Girl 2017</p>
	</footer>
	<script src="app.js"></script>
</html>

<!-- font-family: 'VT323', monospace;
font-family: 'Love Ya Like A Sister', cursive; -->
<!-- #474973 purple / #17BEBB Turquiose /  -->